[Desktop Entry]
Encoding=UTF-8
Name=Link to Image result for drone image 2000 × 2000 
Type=Link
URL=https://www.google.com/imgres?imgurl=https%3A%2F%2Fwww.pnj.fr%2Fwp-content%2Fuploads%2F2017%2F05%2Fdrone-r-falcon-camera-planification-vol-direction-lock-e1504889086161.jpg&imgrefurl=https%3A%2F%2Fwww.pnj.fr%2Fen%2Fshop%2Fr-falcon-hd-drone-by-pnj%2F&docid=Ltn8Tp2pYTovBM&tbnid=YjJzOn8N3ZaykM%3A&vet=10ahUKEwj755rwx5HkAhVmILkGHZ-3Ai0QMwh_KAAwAA..i&w=2000&h=2000&client=ubuntu&bih=779&biw=1440&q=drone%20image&ved=0ahUKEwj755rwx5HkAhVmILkGHZ-3Ai0QMwh_KAAwAA&iact=mrc&uact=8
Icon=text-html
